<div class="login-container">
  <div class="form-container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Login</h1>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" />
        <div
          *ngIf="(email ?? {}).touched && (email ?? {}).invalid"
          class="error-message"
        >
          <div *ngIf="(email ?? {}).errors?.['required']">
            Email é obrigatório.
          </div>
          <div *ngIf="(email ?? {}).errors?.['email']">
            Email informado não é válido.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Senha:</label>
        <input type="password" id="password" formControlName="password" />
        <div
          *ngIf="(password ?? {}).touched && (password ?? {}).invalid"
          class="error-message"
        >
          <div *ngIf="(password ?? {}).errors?.['required']">
            Senha é obrigatória.
          </div>
          <div
            *ngIf="(password ?? {}).errors?.['minlength'] || (password ?? {}).errors?.['maxlength']"
          >
            Senha inválida (deve ter entre 6 e 10 caracteres).
          </div>
        </div>
      </div>

      <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    </form>
  </div>
</div>
